<div class="dispatch-card">

    <h3>Add Dispatch</h3>
@if(successMessage){

<div class="success-message">
    {{ successMessage }}
</div>

}

@if(errorMessage){

<div class="error-message">
    {{ errorMessage }}
</div>

}

    <form [formGroup]="dispatchForm"
      (ngSubmit)="onSubmit()">

        <div class="form-grid">

            <div class="form-group">
                <label>Dispatch ID <span>*</span></label>
                <input
                type="text"
                formControlName="dispatchId"
                placeholder="Enter Dispatch ID">
                 @if(dispatchForm.get('dispatchId')?.touched &&
        dispatchForm.get('dispatchId')?.hasError('required')) {

        <small class="error">
            Dispatch ID is required.
        </small>

    }

    @if(dispatchForm.get('dispatchId')?.touched &&
        dispatchForm.get('dispatchId')?.hasError('pattern')) {

        <small class="error">
            Only numbers are allowed.
        </small>

    }
            </div>

            <div class="form-group">

    <label>Distribution Center <span>*</span></label>

    <select formControlName="dcId">
    <option value="">Select Distribution Center</option>
    <option value="1">DC 1</option>
    <option value="2">DC 2</option>
    <option value="3">DC 3</option>
</select>

    @if(dispatchForm.get('dcId')?.touched &&
        dispatchForm.get('dcId')?.hasError('required')) {

        <small class="error">
            Please select a Distribution Center.
        </small>

    }

</div>

            <div class="form-group">

    <label>Store <span>*</span></label>

    <select formControlName="storeId">
        <option value="">Select Store</option>
        <option value="101">101</option>
        <option value="102">102</option>
        <option value="103">103</option>
        <option value="103">104</option>
        <option value="103">105</option>
    </select>

    @if(dispatchForm.get('storeId')?.touched &&
        dispatchForm.get('storeId')?.hasError('required')) {

        <small class="error">
            Please select a Store.
        </small>

    }

</div>

            <div class="form-group">

    <label>Dispatch Date <span>*</span></label>

    <input
        type="date"
        formControlName="dispatchDate">

    @if(dispatchForm.get('dispatchDate')?.touched &&
        dispatchForm.get('dispatchDate')?.hasError('required')) {

        <small class="error">
            Dispatch Date is required.
        </small>

    }

</div>

            <div class="form-group">

    <label>Dispatch Status <span>*</span></label>

    <select formControlName="status">
    <option value="">Select Status</option>
    <option value="1">Pending</option>
    <option value="2">Dispatched</option>
    <option value="3">Delivered</option>
</select>

    @if(dispatchForm.get('status')?.touched &&
        dispatchForm.get('status')?.hasError('required')) {

        <small class="error">
            Please select a Status.
        </small>

    }

</div>

        </div>

        <div class="button-group">

            <button type="submit" class="save-btn">
                Save
            </button>

            <button
    type="button"
    class="reset-btn"
    (click)="dispatchForm.reset(); successMessage = ''; errorMessage=''">
    Reset
</button>

        </div>

    </form>

</div>