<div class="card">

    <h3>Dispatch Records (Eager Loading)</h3>

    <table>

        <thead>

            <tr>

                <th>Dispatch ID</th>
                <th>DC ID</th>
                <th>Store ID</th>
                <th>Dispatch Date</th>
                <th>Status</th>

            </tr>

        </thead>

        <tbody>

            @for(dispatch of dispatches; track dispatch.dispatchIdPk){

            <tr>

                <td>{{dispatch.dispatchIdPk}}</td>

                <td>{{dispatch.dcIdFk}}</td>

                <td>{{dispatch.storeIdFk}}</td>

                <td>{{dispatch.dispatchDate}}</td>

                <td>{{ dispatch.dispatchStatusName }}</td>

            </tr>

            }

        </tbody>

    </table>

</div>